<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>SSH &amp; SFTP Server</name>
        <version>1.0.0</version>
        <author>mzlogin</author>
        <id>mzlogin-ssh-sftp-server</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
